*.json
journal_entries.json
exported_journal.txt
exported_journal.csv
password.txt
backups
__pycache__/
 
# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
